<template>
  <div id="app" class="container-fuild">
    <div id="nav" class="navbar  navbar-fixed-top">
      <a  data-toggle="collapse" data-target="#sidebar" aria-expanded="false" aria-controls="sideBar">  <i class="fas fa-align-justify"></i></a>
       <router-link to="/login">Login</router-link> |
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div>

    <router-view/>
  </div>
</template>
<script lang="ts">
import Vue from 'vue';
export default Vue.extend({

});
</script>




<style>
body {
  margin: 0;
  height: 100vh;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav {
  padding: 30px;
  background-color: #263b68;
}

#nav a {
  font-weight: bold;
  color: white;
  
}

#nav a.router-link-exact-active {
  color: #00a1ff;
  
}
.home {
  flex: 1;
}
</style>
