<template>
  <div class="home">
    <GroupList/>
    <!-- <Thread :group="currentGroup" v-if="currentGroup"/> -->
    <router-view></router-view> 
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapGetters } from 'vuex';
import GroupList from '@/components/GroupList.vue';
import Thread from '@/components/Thread.vue';
import { currentGroup } from '@/store/getters';

export default Vue.extend({
  name: 'home',
  computed: mapGetters({
    currentGroup,
  }),
  components: {
    GroupList,
  },
});
</script>
<style lang="scss" scoped>
.home {
  display: flex;
}
.group-list {
  flex-basis: 10vw;
  // border-right: 1px solid black;
}
.thread {
  flex: 1;
  width: 80vw;
}
</style>

