<template>
<div  id="sidebar" class="group-list collapse width" >
   
    <img src="../images/logos.png" width="100%">
    <ul>
      <router-link v-for="group in groups" tag="li" :to="`/group/${group.id}`" :class="{ current: isCurrent(group.id)}" :key="group.id"><p class="grpname"><img src="../images/parametres1.png" class="grpimage">
        {{ group.name }} </p>
      </router-link>
    </ul>
    <div class="modal fade" id="addGroupModal"  role="dialog" aria-labelledby="addGroupModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header"> <h3> Ajouter un groupe </h3> </div> 
          <div  class="modal-body" v-if="affTest">
                <input name="inpNewGRP"  v-model="NewNameGRP" placeholder="ex :groupe des plus bo "  v-on:keypress.enter.exact.prevent="onEnter">
                <button v-on:click="addGRP(NewNameGRP)" class="grpadd">add</button>
            </div>
          </div>
        </div>
      </div>
      <div class=" bgMSG grpadd"><button class="buttom " data-toggle="modal" data-target="#addGroupModal" v-on:click="affTest = true"  >Add group <img src="../images/plus.png" width="15%"></button></div>
    
    
  </div>
  
 
</template>

<script lang="ts">
import Vue from "vue";
import { mapActions, mapGetters } from "vuex";
import { SelectGroupAction, LoadGroupsAction } from "@/store/actions";
import { currentGroupId, groups } from "@/store/getters";
import { createGroup } from "@/api";

export default Vue.component("GroupList", {
  data: () => ({
    affTest: false
  }),
  methods: {
    async handleClick(id: string) {
      await this.$store.dispatch(new SelectGroupAction(id));
    },
    isCurrent(id: string) {
      return id === this.currentGroupId;
    },
    addGRP(name: string) {
createGroup(name)
    },
  },
  computed: mapGetters({
    currentGroupId,
    groups,
  }),
  beforeCreate() {
    this.$store.dispatch(new LoadGroupsAction());
  }
});
</script>
<style lang="scss" scoped>
.current {
  background-color: #f5f5f5;
  border-right: #f5f5f5;
}
li {
  cursor: pointer;
  list-style: none;
  padding: 5px;
}
ul {
  padding: 0;
  margin: 0;
}
.group-list {
  background-color: #1b74b0;
}
.bgMSG {
  background-color: lighten(#1b74b0, 20%);
}
.grpadd:hover {
  cursor: pointer;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.logoParam {
  display: flex;
  width: 10%;
  justify-content: flex-start;
}
.grpname {
  display: flex;
  justify-content: space-between;
  font-size: x-large;
  align-content: center;
}
</style>
