<template>
  <div class="login-form ">
    
    <form @submit.prevent="login()" class="center-block ">
      <div class="card BG-gray">
        <img src="../images/logos.png" width="100%"> 
       <input class ="col-md-12 col-xs-12 col-xl-12  M-bot rad1" type="email" name="email" id="email" placeholder="Email" v-model="email">
       <input class ="col-md-12 col-xs-12 col-xl-12 M-bot rad1" type="password" name="password" id="password" placeholder="Password" v-model="password">
       <input class ="col-md-12 col-xs-12 col-xl-12 btn btn-default btn-lg btn-block" type="submit" value="Login">    
     </div>
    </form>
  </div>
</template>
<script lang="ts">
import Vue from 'vue';
import { mapActions, mapGetters } from 'vuex';
import { LoginAction } from '@/store/actions';
import { pending, isLoggedIn } from '@/store/getters';

export default Vue.component('login', {
  methods: {
    async login() {
      await this.$store.dispatch(new LoginAction({ login: this.email, password: this.password }));
      this.$router.push('/');
    },
  },
  data: () => ({
    email: '',
    password: '',
  }),
  computed: mapGetters({
    pending,
    isLoggedIn,
  }),
});
</script>
<style lang="scss" scoped>
.card{
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
margin: 0% 30% 0% 30%;
padding: 5%
}
.BG-gray{
 background-color: #1b74b0;
  
}
.M-bot{
margin-bottom: 5%;
}
.rad1{
border-radius: 15px;

}
</style>
