<template>
  <div class="message">
    <p class="dateEtNom" >{{message.date}}   ||   </p>
    <vue-markdown :source="message.message"></vue-markdown>
  </div>
</template>
<script lang="ts">
import Vue from 'vue';
//  @ts-ignore
import VueMarkdown from 'vue-markdown';
import { Message } from '@/models/Message';
import { User } from '@/models/User';
export default Vue.component('message', {
  data: (message : Message) => ({

  }),
  props: ['message'],
  components: {
    VueMarkdown,
  },
});
</script>

<style lang="scss" scoped>
.message {
  padding: 10px 50px;
  border: 1px solid lighten(#000, 80%);
  border-radius: 7px;
  font-size: 14px;
  word-wrap: break-word;
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}


.dateEtNom{
  display: flex;
  align-self: flex-start;
  font-size:70%;
  font-style: italic;
  padding-left:  0px;

}
</style>

